 <!DOCTYPE html>
  <html>
    <head>
      <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
       <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <style type="text/css">
        .body {background-color: linear-gradient(gold,grey, black);
        }
        
      </style>
    </head>

    <body>
    
       
        <h3 class="ABOUT">About Poetry In Motion</h3>
        <div class="PS">
        <div class="P1">
        <p>Stop.Pause.You don't know how poetry can change your life?
        Expressing yourself in a positive form releases stress, tension,
        and makes you feel happy. Here at Poetry In Motion the idea is for
        you to have a safe-haven or poetic getaway if you will. You are free
        to roam our site. With a free poem library filled full of Love, Life,
        death, rebirth, and friendship work there is plenty to see.</p>
        </div>
        <div class="P2">
        <p>We provide the locations of near-by poetry slams and open mic
        sessions if you would love others to hear your work. 
        You Brave Poet Soul. </p>
        </div>
        <div class="P3">
        <p>We also provide a way that you can create an account here. Here
        you can save your favorite poems from the poetry library, write and
        add to the library with your very own unique poems, and save events 
        if you have chosen to go to express yourself.These options are located
        in the Navagation bar.</p>
        </div>
       <div class="P4">
       <p>That's it now go expand share and express that deep poetic mind of yours.</p>

       <h5>Peace.Love.Happiness.</h5>
        </div>
          <audio src="<%= 'assets/intro.mp3'%>" type="audio/mpeg" controls >
           </audio>
        <h6>Nav Icons</h6>
        <p><i class="material-icons">all_inclusive</i>About</p>
        <p><i class="material-icons">collections</i>poem library</p>
        <p><i class="material-icons">keyboard_voice</i>Events i.e. OpenMic/Poetry Slams</p>
        <p><i class="material-icons">fingerprint</i>Signin/Signup</p>

        <a href="/me" class="waves-effect waves-light btn">Authors Work</a>
       
        </div>
        <div class="IMG">
          <img src="assets/fist.png">
        </div>
      <!-- Compiled and minified JavaScript -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
      
    </body>
  </html>
        




 