<!DOCTYPE html>
<html>
<body>

<h1>Find your Expression event below</h1>

<div id="Mapquest" style="width:100%;height:400px;"></div>

<script>
function myMap() {
var mapProp= {
    center:new mapquest.maps.LatLng(51.508742,-0.120850),
    zoom:5,
};
var map=new mapquest.maps.Map(document.getElementById("Mapquest"),mapProp);
}
</script>

<script src= "https://www.mapquestapi.com/directions/v2/route?key=KEY&from=Denver%2C+CO&to=Boulder%2C+CO&outFormat=json&ambiguities=ignore&routeType=fastest&doReverseGeocode=false&enhancedNarrative=false&avoidTimedConditions=false"></script>

</body>
</html>