 <!DOCTYPE html>
  <html>
    <head>
      <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
       <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <style>
    	body  {
         background-image: url("assets/cloud.gif");
         background-repeat: no-repeat;
         background-size: 1400px 1100px;
     }
    </style>
    </head>

    <body>

    	<div class="video">
		<iframe width="820" height="415"
		src="https://www.youtube.com/embed/sq1l-19pwS4"frameborder="0" allow="autoplay; encrypted-media" allowfullscreen>
		</iframe>
        </div>
		<h1 class="heading">Poetry In Motion</h1>
		<div class="enter">
		<a class="waves-effect waves-light btn-large gold" href="/About">Enter Site Here</a>
        </div>
		    <!-- Compiled and minified JavaScript -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    </body>
  </html>
        
