// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.heading{
	position: absolute;
	top: 70%;
	left: 30%;
}

.enter{
	position: absolute;
	top: 90%;
	left: 42%;
}

.video{
	position: absolute;
	top: 5%;
	left: 20%;
}
.ABOUT{
	position: absolute;
	top: 15%;
	left: 27%;
}
.PS{
	position: absolute;
	top: 35%;
	left: 25%;
}
.P1 {
  margin: 0 auto;
  max-width: 600px;
  border: solid 2px #ccc;
  padding: 12px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
  font-size: 18px;
}
.P2 {
  margin: 0 auto;
  max-width: 600px;
  border: solid 2px #ccc;
  padding: 12px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
}
.P3 {
  margin: 0 auto;
  max-width: 600px;
  border: solid 2px #ccc;
  padding: 12px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
}
.P4 {
  margin: 0 auto;
  max-width: 600px;
  border: solid 2px #ccc;
  padding: 12px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
}
.columnleft{
  position: absolute;
  top: 25%;
  left: 50%;
}
.AP {
  margin: 0 auto;
  max-width: 600px;
  border: solid 2px #ccc;
  padding: 12px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
  

}
.titles{
  position: absolute;
  top: 10%;
  left: 0%;
}
